[Unit]
Description=apache kafka service
Before=
After=network.target

[Service]
User=kafka
Group=kafka
LimitNOFILE={{ kafka_nofile_limit }} 
Environment=JAVA_HOME={{ hbase_java_home }}
Environment=CHDIR={{ kafka_data_dir }}
Environment=LOG_DIR={{ kafka_log_path }}/log
Environment=KAFKA_OPTS=-javaagent:{{ kafka_installation_prefix }}-{{ env_name }}-current/libs/jmx_prometheus_javaagent-0.3.1.jar=9160:{{ kafka_installation_prefix }}-{{ env_name }}-current/config/jmx_prometheus_javaagent.yaml
ExecStart={{ kafka_installation_prefix }}-{{ env_name }}-current/bin/kafka-server-start.sh {{ kafka_installation_prefix }}-{{ env_name }}-current/config/server.properties
Restart=always
RestartSec=40

[Install]
WantedBy=multi-user.target
